@font-face {
  font-family: Jenna Sue;
  src: url("/fonts/JennaSue.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Museo Sans;
  src: url("/fonts/museo_sans/MuseoSans-100.otf") format("opentype"),
    url("/fonts/museo_sans/MuseoSans-300.otf") format("opentype"),
    url("/fonts/museo_sans/MuseoSans-500.otf") format("opentype"),
    url("url(/fonts/museo_sans/MuseoSans-700.otf)") format("opentype");

  font-weight: 100, 300, 500, 700;
}

* {
  font-family: Museo Sans, sans-serif;
}
body {
  padding: 0;
  margin: 0;
}

.coreplus-login-screen {
  display: flex;
}

.cp-left-screen {
  width: 50vw;
}
.cp-right-screen {
  width: 50vw;
  height: 100vh;
  background-position: center;
}

.cp-right-screen-content {
  background-color: #f98731;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.cp-rs-image {
  margin-top: 40px;
}
p.cp-rs-heading {
  color: #fff;
  font-size: 3.5rem;
}

p.cp-rs-description {
  color: #fff;
  font-size: 1rem;
  text-align: justify;
  margin-top: -20px;
}

.cp-login-get-started {
  margin-top: 40px;
}
.cp-login-get-started a {
  font-weight: 700;
  text-decoration: none;
  color: #f98731;
  border: #fff 1px solid;
  background-color: #fff;
  padding: 10px 50px;
  border-radius: 5px;
}

.cp-right-content {
  margin: auto;
  padding: 50px;
}

.back-to-website {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.top-space {
  margin-top: 5vh;
}
.back-to-website-text {
  margin-top: 3px;
}

.cp-logo {
  text-align: center;
}
.cp-logo img {
  width: 40%;
  /* margin-left: 15vw; */
  margin-top: 15vh;
}

.cp-left-screen-content {
  height: 90vh;
}
.cp-footer {
  text-align: center;
}

.login-credentials {
  text-align: center;
}

.login-title {
  text-align: center;
  color: #f98731;
  font-size: 2.125rem;
  font-weight: 700;
}

.username-field {
  width: auto;
  text-align: center;
}

.cp-username {
  height: 3rem;
  width: 400px;
  border: none;
  border-left: 1px solid #f98731;

  /* border-radius: 3px; */
  /* border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; */
  /* border: 1px solid #f98731; */
  margin-left: 15px;
  border-left-style: ridge;
}
.cp-username:focus {
  outline: none;
}

.fa,
.far,
.fas {
  color: #7f7f7f;
  /* margin-left: 50px; */
  border: 1px solid #f98731;
  padding-left: 15px;
  border-radius: 3px;
}

.forgot-text {
  color: #f98731;
  font-weight: 500;
  text-align: right;
  max-width: 41vw;
}

.password-field {
  text-align: center;
}

.cp-password {
  height: 3rem;
  width: 400px;
  border: none;
  border-left: 1px solid #f98731;
  margin-left: 15px;
  border-left-style: ridge;
}

.cp-login-butoon {
}

/* End of Log In Page */

/* Media Queries */

@media only screen and (max-width: 1024px) {
  .cp-right-screen-content {
    display: none;
  }
  .cp-left-screen {
    width: 100vw;
  }
}
/* End of Media Queries */
