/* LILO Golbal Styles */


.lilo-uppercase-text {
  text-transform: uppercase;
}

.megenta-color {
  color: #e5028b;
}

.lilo-color-light {
  color: #737373;
}

.lilo-footer-common {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  color: #676767;
}

.lilo-mt-20 {
  margin-top: 20px;
}
.lilo-mt-30 {
  margin-top: 30px;
}

/*  End Lilo Global Styles*/

/* Desktop view */

.desktop-left-lilo {
  width: 50vw;
}
.desktop-right-lilo {
  width: 50vw;
}

/* End Desktop view */

.lilo-back {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.lilo-back img {
  max-width: 20px;
}

.back-to-website {
  text-decoration: underline;
  color: #404040;
}

.lilo-logo {
  text-align: center;
  max-width: 100%;
  margin: 40px;
}
.lilo-logo img {
  max-width: 200px;
}

.lilo-login-title {
  font-size: 22px;
  color: #f98731;
}
.lilo-username {
  max-width: 300px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.lilo-username input {
  width: 300px;
  height: 40px;
  border: 1px solid #909090;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding-left: 20px;
}

.lilo-username input:focus {
  border: 1px solid #f98731;
}

.lilo-password {
  max-width: 300px;
  margin: auto;
  margin-bottom: 20px;
}

.lilo-password input {
  width: 300px;
  height: 40px;
  border: 1px solid #909090;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding-left: 20px;
}

.lilo-password input:focus {
  border: 1px solid #f98731;
}

.login-to-your-account {
  margin-top: 20px;
  text-align: center;
}

.lilo-label-mobile {
  text-align: right;
}
.lilo-label {
  color: #f98731;
  text-align: right;
}
.lilo-submit {
  max-width: 300px;
  margin: auto;
  background: #f98731;
  border-radius: 5px;
}
.lilo-submit button {
  border: none;
  background-color: transparent;
  color: #fff;
  height: 40px;
  width: 300px;
}

.lilo-agree {
  max-width: 300px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}
.lilo-cant-login {
  text-align: center;
  margin-top: 20px;
}
.lilo-cant-login a {
  text-decoration: underline;
  color: #676767;
}

.lilo-footer {
  margin-top: 60px;
  text-align: center;
  /* position: absolute; */
  /* bottom: 5vh; */
  width: 100%;
  color: #676767;
  /* height: 2.5rem; */
}

/* Logout mobile */

.lilo-logout-title {
  font-size: 22px;
  color: #f98731;
  max-width: 300px;
  margin: auto;
  margin-top: 50px;
}

.lilo-submit-logout {
  max-width: 300px;
  margin: auto;
  background: #f98731;
  border-radius: 5px;
  padding: 10px;
  margin-top: 50px;
}

.logout-login {
  color: #fff;
  height: 140px;
  padding-top: 40px;
}
.logout-login:hover {
  color: #fff;
  height: 140px;
  padding-top: 40px;
}

/* Username Password Reset Request */

.mobile-un-pass-block {
  max-width: 200px;
  /* margin: auto; */
  margin: 10px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
  .mobile-un-pass-block {
    max-width: 200px;
    margin: auto;
    /* margin: 20px; */
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.lilo-mobile-un-pass {
  max-width: 300px;
  margin: auto;
  /* color: #404040; */
}
.mobile-forgot-title {
  color: #404040;
  margin: auto;
  text-align: center;
}

.mobile-forgot-content {
  max-width: 250px;
  color: #737373;
  margin: auto;
}

.lilo-footer-un-pass {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  color: #676767;
  /* height: 2.5rem; */
}

.lilo-m-10 {
  margin: 10px;
}
.lilo-m-20 {
  margin: 20px;
}
.lilo-mt-20 {
  margin-top: 20px;
}

/* Password Reset Request */

.lilo-submit-password {
  max-width: 300px;
  margin: auto;
  background: #e5028b;
  border-radius: 5px;
}
.lilo-submit-password button {
  border: none;
  background-color: transparent;
  color: #fff;
  height: 40px;
  width: 300px;
  text-transform: uppercase;
}

.lilo-footer-pass-reset {
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  color: #676767;
  /* height: 2.5rem; */
}

/* Password Reset Accepted */

.password-reset-accepted {
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color: #61c5ba;
  border-radius: 5px;
  padding: 20px;
  color: #fff;
}

.pass-reset-icon {
  padding: 20px;
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.lilo-need-help {
  text-align: center;
  margin-top: 20px;
}
.lilo-need-help a {
  font-size: 16px;
  color: #f98731;
  text-decoration: underline;
}

/* Password Reset Warning */

.password-reset-warning {
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color: #e5028b;
  border-radius: 5px;
  padding: 20px;
  color: #fff;
  margin-top: 20px;
}

.lilo-warning-attempt {
  max-width: 300px;
  margin: auto;
  text-align: left;
  margin-bottom: 20px;
}

/* Reset Password */

.lilo-reset-password {
  max-width: 300px;
  margin: auto;
  text-align: center;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 20px;
}

.lilo-reset-password:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

/* OTP Verify */

.opt-verify-text {
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.digit-group input {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: none;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  color: #404040;
  margin: 0 2px;
  border: 1px solid #f98731;
  border-radius: 3px;
}

.digit-group .splitter {
  padding: 0 5px;
  color: white;
  font-size: 24px;
}

.prompt {
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
}

.otp-verify-code {
  max-width: 300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.lilo-label-otp-veify {
  max-width: 300px;
  margin: auto;
}

.lilo-label-otp-veify button {
  background-color: transparent;
  border: none;
}

.otp-verify-input {
  margin: 30px 0px;
}

/* Wrong OTP */

.lilo-wrong-otp {
  max-width: 300px;
  margin: auto;
  display: flex;
  font-size: 12px;
  margin-top: 20px;
}

.lilo-wrong-otp button {
  background-color: transparent;
  border: none;
  margin-top: 3px;
}

.digit-group-wrong-otp input {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: none;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  color: #404040;
  margin: 0 2px;
  border: 1px solid #e5028b;
  border-radius: 3px;
}

/* Otp Success */

.digit-group-otp-success input {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: none;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  color: #404040;
  margin: 0 2px;
  border: 1px solid #61c5ba;
  border-radius: 3px;
}
